<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.techonehub">

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechOneHub">
        <activity android:name=".ui.alterar.AlterarServicoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.consultar.ConsultarServicoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.SocioAgendaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.alterar.AlterarClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cadastrar.CadastrarServicoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.ServicoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.consultar.ConsultarClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cadastrar.CadastrarClienteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AgendaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.SobreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>